body{
    margin: 0;
}
button {
    font-family: 'Open Sans', sans-serif;
    height: 80px;
    border-radius: 50%;
    font-size: 22px;
    border: none;
}
button:active{
    transform: translateY(2px);
}

.header {
    border: 2px solid black;
    height: 210px;
}

.content {
    display: flex;
    border: 2px solid blue;
    height: 610px;
    align-items: center;
    justify-content: center;
}
    .bodyCal {
        display: grid;
        grid-template-columns: repeat(4,80px);
        grid-template-rows: repeat(6,80px);
        grid-gap: 10px;
        padding-top: 20px;
        /* align-items: center; */
        justify-content: center ;
        height: 550px;
        width: 400px;
        border: 2px solid gold;
        background-color: black;
        border-radius: 20px;

    }   
        [data-number]{
            background-color: gray;
            color: white;
        }
        [data-number]:hover {
            background-color: #b6b6b6;
            color: white;
        }
        [data-operator]{
            background-color: orange;
            color: white;
        }
        [data-operator]:hover{
            background-color: #ffc456;
            color: white;
        }
        .displayNum {
            /* font-family: 'Open Sans', sans-serif; */
            font-family: 'Roboto Mono', monospace;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 36px;
            color: white;
            height: 80px;
            /* border: 2px solid gray; */
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .zero{
            border-radius: 20px;
            grid-column-start: 1;
            grid-column-end: 3;
        }


.footer {
    border: 2px solid yellow;
    height: 110px;
}